@use "sass:map";
@use "../../styles/tokens/functions" as *;

.menuLinks {
  list-style: none;
}

.languageButton {
  width: 70px;
}

.buttonWidth {
  width: 65px;
}

@media (max-width: #{map.get($breakpoints, md) - 1px}) {
  .menuIcon {
    width: 40px;
    height: 40px;
  }

  .menuNavIcon {
    width: auto;
    height: 22px;
  }
}
