@use "../tokens/functions" as *;

$background-colors: (
  'bg-bramble': var(--primary),
  'bg-bramble-2': var(--primary-2),
  'bg-base-1': var(--bg-base-1),
  'bg-code-1': var(--code-bg-1),
  'bg-code-2': var(--code-bg-2),
  'dot-red': #DF6C62,
  'dot-yellow': #ECBB55,
  'dot-green': #56B855,
);

@each $class-name, $value in $background-colors {
  @include generate-utility-class($class-name, (background-color: $value), (hover));
}

$gradient-colors: (
    bramble: var(--primary),
    bramble-2: var(--primary-2),
    base-1: var(--bg-base-1),
    code-1: var(--code-bg-1),
    code-2: var(--code-bg-2),
);

@include generate-gradient-classes($gradient-colors);

@include generate-utility-class('bg-blur', ( background-color: #16171dd0, backdrop-filter: blur(10px), -webkit-backdrop-filter: blur(10px)));