@use "sass:map";
@use "../../styles/tokens/functions" as *;

.componentHolder {
  flex: 1 1 340px;
  min-width: 340px;
  max-width: 400px;
}

.componentHolderPreview {
  height: 150px;
}

@media (max-width: #{map.get($breakpoints, sm) - 1px}) {
  .componentHolder {
    flex: 1 1 280px;
    min-width: 280px;
  }
}
