:root {
  --text-primary: #FFFFFF;
  --primary: #D7274C;
  --primary-2: #711428;
  --bg-base-1: #16171D;
  --code-comment: #60576C;
  --code-purple: #9F6FE2;
  --code-yellow-simbol: #FFD700;
  --code-text: #4FF9C0;
  --code-yellow-text: #F5BC72;
  --code-pink: #EF83FA;
  --code-blue-simbols: #0DA2E6;
  --code-bg-1: #314043;
  --code-bg-2: #212C2E;
}