:root {
  --text-primary: #ffffff;
  --text-black: #000000;
  --primary: #d7274c;
  --primary-2: #711428;
  --bg-base-1: #16171d;
  --bg-white: #ffffff;
  --code-comment: #60576c;
  --code-purple: #9f6fe2;
  --code-yellow-symbol: #ffd700;
  --code-text: #4ff9c0;
  --code-yellow-text: #f5bc72;
  --code-pink: #ef83fa;
  --code-blue-symbols: #0da2e6;
  --code-bg-1: #314043;
  --code-bg-2: #212c2e;
  --code-text-number: #7c898c;
}