.loadingSpinner {
  display: block;
  transform-origin: 50% 50%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.35));
  animation: spin var(--spinner-duration, 1.1s) linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}