.code-window__row {
  display: flex;
  min-width: max-content;
}

.code-window__line-number {
  width: 32px;
  flex-shrink: 0;
  margin-right: 16px;
  user-select: none;
  text-align: right;
  color: rgb(255 255 255 / 20%);
}

.code-window__line {
  white-space: pre;
}