.codeWindow {
  min-width: 777px;
  box-shadow: 0 0 89.5px -39px var(--primary);
}

.codeWindowDot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.codeWindowLine {
  white-space: pre;
}

.codeWindowLineNumber {
  width: 32px;
}
