@use "sass:map";
@use "../tokens/functions" as *;

@media (max-width: #{map.get($breakpoints, md) - 1px}) {
  .contact-us-container img {
    width: 20px;
    height: auto;
  }
}

.default-shadow {
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: #{map.get($breakpoints, lg) - 1px}) {
  .component-listing {
    max-height: 700px;
    overflow-y: auto;
  }
}

.glow-content {
  position: relative;
}

.home.glow-content::before {
  top: 150px;
  left: 350px;
  width: 350px;
  height: 350px;
}

.component-list.glow-content::before {
  bottom: -900px;
  right: -900px;
  width: 995px;
  height: 995px;
}

.glow-content::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);

  background: radial-gradient(
    circle closest-side,
    var(--primary) 0%,
    rgba(22, 23, 29, 0) 100%
  );
  opacity: 0.15;

  z-index: -1;
  pointer-events: none;
}

#home {
  scroll-margin-top: 200px;
}

#components {
  scroll-margin-top: 100px;
}

#contact {
  scroll-margin-top: 50px;
}