@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
  --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  --sans: "Montserrat", system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: "Montserrat", system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: "Montserrat", ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text-primary);
  background: var(--bg-base-1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
}

p {
  margin: 0;
}

html {
  box-sizing: border-box;
  color: var(--text-primary);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input,
button,
select,
textarea {
  font-family: inherit;
}

.menu-links {
  list-style: none;
}